html {
background-color: white;
font-family: "Helvetica Neue", Arial, sans-serif;
line-height: 24px;
height: 100%;
}

body {
color: #555;
height: 100%;
}

a {
text-decoration: none;
color: #800080;
}

/*
a:link {color: #800080;}
*/

a:visited {
  color: red;
}





a:hover {
  color: red;
  border: 2px solid red;
  font-weight: 600
 /* background-color: white; */
}

div#navigation {
  text-align: center;
}

div#navigation a {
  margin: 0px 5px 0px 5px;
}

/*
div#content {
  margin: 12px;
}


h1 {
font-size: 26px;
font-weight: normal;
}

h2 {
font-size: 22px;
font-weight: normal;
}
*/



/* Define class for media queries /
@media only screen and (max-width: 1200px) {
/ Define styles for medium screens */
div#navigation {
display: none;
}
div#content {
margin: 20px 0 0;
padding: 0 20px;
width: 100%;
}
}

@media only screen and (max-width: 992px) {
/* Define styles for tablet screens */
div#navigation {
display: none;
}
div#content {
margin: 20px 0 0;
padding: 0 20px;
width: 100%;
}
}

@media only screen and (max-width: 768px) {
/* Define styles for small screens */
div#navigation {
display: none;
}
div#content {
margin: 20px 0 0;
padding: 0 20px;
width: 100%;
}
}

@media only screen and (max-width: 480px) {
/* Define styles for mobile screens */
div#navigation {
display: none;
}
div#content {
margin: 20px 0 0;
padding: 0 20px;
width: 100%;
}
}

