html {
background-color: white;
font-family: "Helvetica Neue", Arial, sans-serif;
line-height: 24px;
height: 100%;
}

body {
color: #555;
height: 100%;
}

a {
text-decoration: none;
color: #800080;
}

/*
a:link {color: #800080;}
*/

a:visited {
  color: red;
}





a:hover {
  color: red;
  border: 2px solid red;
  font-weight: 600
 /* background-color: white; */
}

div#navigation {
  text-align: center;
}

div#navigation a {
  margin: 0px 5px 0px 5px;
}

/*
div#content {
  margin: 12px;
}


h1 {
font-size: 26px;
font-weight: normal;
}

h2 {
font-size: 22px;
font-weight: normal;
}
*/



/* Define class for media queries */

@media all and (max-width: 821px) {
  /* Define styles for small screens */
  div#navigation {
    position: static;
    float: none;
    width: 100%; /* changed to 100% */
    padding: 0;
    margin-bottom: 1rem;
  }
  div#navigation > a {
    display: block; /* changed to block */
    text-align: center;
    margin: 0.5rem; /* changed to 0.5rem */
    font-size: 0.9rem;
  }
  div#content {
    margin: 1rem;
    padding: 0 2%;
    max-width: 100%; /* changed to max-width */
    font-size: 1rem;
  }
}

@media all and (min-width: 822px) {
  /* Define styles for larger screens */
  div#navigation {
    float: left;
    position: fixed;
    top: 1.5rem;
    width: 20%; /* changed to 20% */
    padding: 0 2%;
  }
  div#navigation > a {
    display: inline-block;
    text-align: right;
    margin: 1rem;
    font-size: 1rem;
  }
  div#content {
    margin: 2rem 0 0 20%;
    padding: 0 3.6%;
    width: 80%;
    font-size: 1.2rem;
    max-width: none; /* changed to none */
  }
}



